<!DOCTYPE html>
<html lang="es">
<%- include('../../common/components/head') %>

<body class="page-create-customer">
    <div class="two-columns">
        <div class="container-navigation">
            <%- include('../components/navigation') %>
        </div>

        <div class="container-content">
            <h1><%= title %></h1>
            <div class="container-form">
                <form action="/api/customer" method="POST" id="create-customer">
                    <div class="control required">
                        <label for="document_type">Tipo de documento</label>
                        <select name="document_type" id="document-type">
                            <option value="">Seleccione una opción...</option>
                            <option value="cc">CC</option>
                            <option value="ti">TI</option>
                            <option value="ce">CE</option>
                            <option value="pa">PA</option>
                            <option value="nit">NIT</option>
                            <option value="other">Otro</option>
                        </select>
                    </div>

                    <div class="control required">
                        <label for="document_number">Número de documento</label>
                        <input type="text" name="document_number" id="document-number" placeholder="Ej: 11432122121">
                    </div>

                    <div class="control required">
                        <label for="first_name">Nombre</label>
                        <input type="text" name="first_name" id="first-name" placeholder="Ej: Alice">
                    </div>

                    <div class="control required">
                        <label for="last_name">Apellido</label>
                        <input type="text" name="last_name" id="last-name" placeholder="Ej: Johnson">
                    </div>

                    <div class="control required">
                        <label for="phone_number">Teléfono</label>
                        <input type="text" name="phone_number" id="phone-number" placeholder="Ej: 3211010101">
                    </div>

                    <div class="control required">
                        <label for="address_street">Dirección</label>
                        <input type="text" name="address_street" id="address-street" placeholder="Ej: Cra 27A # 12-20">
                    </div>

                    <div class="control required">
                        <label for="email">Correo electronico</label>
                        <input type="email" name="email" id="email" placeholder="cliente@ejemplo.com">
                    </div>

                    <div class="buttons-actions">
                        <button class="button-action" type="submit">Guardar</button>
                        <button class="button-action"><a href="./customers">Cancelar</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/admin/pages/customer-create.js"></script>
</body>
</html>
