<!DOCTYPE html>
<html lang="en">
<%- include('../../common/components/head') %>

<body class="page-customers">
    <div class="two-columns">
        <div class="container-navigation">
            <%- include('../components/navigation') %>
        </div>

        <div class="container-content">
            <h1><%= title %></h1>
            <div class="container-primary-buttons">
                <button class="btn-action-primary btn-create-customer"><a href="/create-customer">Crear cliente</a></button>
            </div>
            <div class="container-customers-buttons">
                <button class="btn-action-secondary">Eliminar clientes seleccinados</button>
                <div>
                    <input class="input-search" type="text" placeholder="Filtrar por documento, nombre o apellido...">
                    <button class="btn-action-secondary">Buscar</button>
                </div>
            </div>
            <div class="container-customers-table">
                <table id="customers-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>T.D</th>
                            <th>Num. Documento</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/admin/pages/customers.js"></script>
</body>
</html>
