<!DOCTYPE html>
<html lang="es">
<%- include('../../common/components/head') %>

<body class="page-customers">
    <div class="two-columns">
        <div class="container-navigation">
            <%- include('../components/navigation') %>
        </div>

        <div class="container-content">
            <h1><%= title %></h1>
            <div id="has-clients" aria-hidden="true">
                <div class="container-createcustomer-button">
                    <button class="btn-action-primary btn-create-customer">
                        <a href="/create-customer">Crear cliente</a>
                    </button>
                </div>
                <div class="container-customers-buttons">
                    <div>
                        <input id="filter-input" class="input-search" type="text" placeholder="Filtrar por documento, nombre o apellido...">
                    </div>
                </div>
                <div class="container-customers-table">
                    <table id="customers-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>T.D</th>
                                <th>Num. Documento</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Correo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="pagination-container"></div>
                </div>
            </div>

            <div id="no-customers-message" aria-hidden="true">
                <h2>No hay clientes registrados</h2>
                <button class="btn-action-primary btn-create-customer">
                    <a href="/create-customer">Crear cliente</a>
                </button>
            </div>

            <div id="no-result-found" aria-hidden="true">
                <h2>No hay registros para el filtro aplicado</h2>
            </div>
        </div>
    </div>

    <%- include('../../common/components/modal') %>
    <script src="/js/admin/pages/customers.js"></script>
</body>
</html>
