<!DOCTYPE html>
<html lang="en">
<%- include('../../common/components/head') %>

<body>
    <h1><%= title %></h1>

    <%- include('../components/navigation') %>

    <script src="/js/admin/pages/dashboard.js"></script>
</body>
</html>
