<!DOCTYPE html>
<html lang="en">
<%- include('../../common/components/head') %>

<body>
    <div style="display: flex;">
        <div style="padding: 20px; background-color: aliceblue;">
            <%- include('../components/navigation') %>
        </div>

        <div>
            <h1><%= title %></h1>
    </div>
</body>
</html>
