<!DOCTYPE html>
<html lang="es">
<%- include('../../common/components/head') %>

<body class="page-settings">
    <div class="two-columns">
        <!-- Navigation -->
        <div class="container-navigation">
            <%- include('../components/navigation') %>
        </div>

        <!-- Content -->
        <div class="container-content">
            <h1>
                <%= title %>
            </h1>
        </div>
    </div>
</body>

</html>
