<!DOCTYPE html>
<html lang="en">
<%- include('../components/head') %>

<body>
    <h1><%= title %></h1>

    <form id="login-form" action="/api/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Iniciar sesión</button>
    </form>

    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(this);
            const data = Object.fromEntries(formData.entries());

            fetch('/api/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    alert('Inicio de sesión exitoso');
                    window.location.href = '/dashboard';  // Redirigir al dashboard si es exitoso
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
