<nav>
    <ul style="list-style: none; margin: 0; padding: 0;">
        <li style="margin: 10px 0;"><a href="/dashboard">Panel de administración</a></li>
        <li style="margin: 10px 0;"><a href="/customers">Clientes</a></li>
        <li style="margin: 10px 0;"><a href="/orders">Ordenes</a></li>
        <li style="margin: 10px 0;"><a href="/history-ordes">Historial de ordenes</a></li>
        <li style="margin: 10px 0;"><a href="/inventory">Inventario</a></li>
        <li style="margin: 10px 0;"><a href="/settings">Configuraciones</a></li>
    </ul>
</nav>
