<nav class="navigation">
    <ul class="items">
        <li class="item"><a class="option" href="/dashboard">Panel de administración</a></li>
        <li class="item"><a class="option" href="/customers">Clientes</a></li>
        <li class="item"><a class="option" href="/orders">Ordenes</a></li>
        <li class="item"><a class="option" href="/history-orders">Historial de ordenes</a></li>
        <li class="item"><a class="option" href="/inventory">Inventario</a></li>
        <li class="item"><a class="option" href="/settings">Configuraciones</a></li>
        <li class="item"><%- include('../../common/logout') %></li>
    </ul>
</nav>
