.icon-group::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: currentcolor;
    mask-size: cover;
    -webkit-mask-image: url(../public/images/icons/group.svg);
    mask-image: url(../public/images/icons/group.svg);
}

.icon-plus::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: currentcolor;
    mask-size: cover;
    -webkit-mask-image: url(../public/images/icons/plus.svg);
    mask-image: url(../public/images/icons/plus.svg);
}

.icon-edit-pencil::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: currentcolor;
    mask-size: cover;
    -webkit-mask-image: url(../public/images/icons/edit-pencil.svg);
    mask-image: url(../public/images/icons/edit-pencil.svg);
}

.icon-bookmark-book::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: currentcolor;
    mask-size: cover;
    -webkit-mask-image: url(../public/images/icons/bookmark-book.svg);
    mask-image: url(../public/images/icons/bookmark-book.svg);
}

.icon-settings::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: currentcolor;
    mask-size: cover;
    -webkit-mask-image: url(../public/images/icons/settings.svg);
    mask-image: url(../public/images/icons/settings.svg);
}